<% if(typeof menu==="undefined" ){ menu="" ; } %>
  <style>
    .aktif {
      color: red !important;
      font-weight: 900 !important;
    }
  </style>
  <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
      <div class="sidebar-brand-icon">
        <img src="/admin-template/img/logo/logo2.png">
      </div>
      <div class="sidebar-brand-text mx-3">RuangAdmin</div>
    </a>
    <hr class="sidebar-divider my-0">


    <div class="sidebar-heading">
      Siga Menu
    </div>

    <li class="nav-item">
      <a class="<%= (menu==='instansi')?'aktif':''%> nav-link" href="/admin/instansi.html">
        <i class="fa fa-chevron-right"></i>
        <span>Data Instansi</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='siga')?'aktif':''%> nav-link" href="/admin/kategori-data-terpilah.html">
        <i class="fa fa-chevron-right"></i>
        <span>Master Komponen Siga</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='tahun')?'aktif':''%> nav-link" href="/admin/komponen-tahun.html">
        <i class="fa fa-chevron-right"></i>
        <span>Master Komponen Tahun</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='presenting')?'aktif':''%> nav-link" href="/admin/presenting-data.html">
        <i class="fa fa-chevron-right"></i>
        <span>Presenting Input Data Siga</span>
      </a>
    </li>
    <br />
    <div class="sidebar-heading">
      Konten Website
    </div>
    <li class="nav-item">
      <a class="<%= (menu==='beranda')?'aktif':''%> nav-link" href="/admin/">
        <i class="fa fa-chevron-right"></i>
        <span>Beranda</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='tag-berita')?'aktif':''%> nav-link" href="/admin/tags-berita.html">
        <i class="fa fa-chevron-right"></i>
        <span>Tags Berita</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="<%= (menu==='berita')?'aktif':''%> nav-link" href="/admin/berita.html">
        <i class="fa fa-chevron-right"></i>
        <span>Berita</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='profil-kepala-dinas')?'aktif':''%> nav-link" href="/admin/profil-kepala-dinas.html">
        <i class="fa fa-chevron-right"></i>
        <span>Profil Kepala Dinas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='profil-walikota')?'aktif':''%> nav-link" href="/admin/profil-walikota.html">
        <i class="fa fa-chevron-right"></i>
        <span>Profil Walikota</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='profil-wakil-walikota')?'aktif':''%> nav-link" href="/admin/profil-wakil-walikota.html">
        <i class="fa fa-chevron-right"></i>
        <span>Profil Wakil Walikota</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='banner')?'aktif':''%> nav-link" href="/admin/banner.html">
        <i class="fa fa-chevron-right"></i>
        <span>Banner</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='slide-show')?'aktif':''%> nav-link" href="/admin/slide-show.html">
        <i class="fa fa-chevron-right"></i>
        <span>Slide Show</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='galeri')?'aktif':''%> nav-link" href="/admin/galeri.html">
        <i class="fa fa-chevron-right"></i>
        <span>Galeri</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='info')?'aktif':''%> nav-link" href="/admin/info.html">
        <i class="fa fa-chevron-right"></i>
        <span>Info</span>
      </a>
    </li>
    <br />
    <div class="sidebar-heading">
      Menu Navigasi
    </div>
    <li class="nav-item">
      <a class="<%= (menu==='menu-profil')?'aktif':''%> nav-link" href="/admin/menu-profil.html">
        <i class="fa fa-chevron-right"></i>
        <span>Menu Profil</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='video')?'aktif':''%> nav-link" href="/admin/video.html">
        <i class="fa fa-chevron-right"></i>
        <span>Video</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='header')?'aktif':''%> nav-link" href="/admin/header.html">
        <i class="fa fa-chevron-right"></i>
        <span>Header</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="<%= (menu==='cetak')?'aktif':''%> nav-link" href="/admin/cetak.html">
        <i class="fa fa-chevron-right"></i>
        <span>Cetak</span>
      </a>
    </li>

    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
  </ul>